# Binaries
/bin/
/build/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build files
*.test
*.out

# Vendor (si tu n'utilises pas go mod vendor)
vendor/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env